@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

* {
  margin:0;
  padding:0;
  max-width: 100%;
}

body {
  background-color: #3208a3;
  }

  h1 {
    color: white;
    font-family: 'Space Mono', monospace;
    text-align: center;
    background-color: #fff;
    color: #3208a3;
    padding: 20px;
  }

  h3 {
    color: white;
    font-family: "Space Mono", monospace;
  }

  p {
    color: white;
    font-family: 'Space Mono', monospace;
  }

  img {
    width: 500px;
    height: 650px;
    object-fit: contain;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: blue;
    text-align: center;
    font-size: 30pt
}

   #click {
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    top:30vh;
    left: 15vw;
    cursor: pointer;
  }

  #paragraph {
    color: yellow;
    width: 30vw;
    position: absolute;
    top: 10vh;
    left: 40vw;
  }

  #vidstill {
    margin-top: 40px;
    width: 60%;
   }

   #rain {
     position: absolute;
     top: 45vh;
     left: 30vw;
     visibility: hidden;
   }
